nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: var(--dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
.primary {
    color: #FD6E0A;

}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.button{
    width: 80px;
    height: 27px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 5px;
    border: 0;
    font-family: Open Sans;
font-size: 20px;
line-height: 24px;
font-style: normal;
font-weight: 700;

}
nav a{
    text-decoration: none;
}