nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.primary {
    color: #FD6E0A;

}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.button{
    width: 96px;
    height: 27px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 2px;
    border: 0;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;

}
.button-two{
    width: 100px;
    height: 27px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 2px;
    border: 0;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;

}
.button-three{
    width: 150px;
    height: 27px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 2px;
    border: 0;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    }

nav a{
    text-decoration: none;
}
.header{
    background-color: #FFF8F3;
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}
nav h2{
    font-family: Open Sans;
    font-size: 45px;
    line-height: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;   
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paraghraph{
    font-style: normal;
}

.banner .profile picture{
    width: 10px;
    height: 200px;
}
.banner-greeting{
    font-size: 85px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner content{
    max-width: 500px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px  0;
} 
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  .about-info-container{
    display: flex;
    justify-content: space-around;
  }
  #What-i-do-descriptn{
    padding: 30px 150px;
  }
  .skills-container{
    display: flex;
    gap: 24px;
  }
  .skill-description{
    padding: 30px;
    color: #757575;
  }
  .skill{
    padding: 30px;
    border-radius:5px ;
    background:#FFF8F3 ;
    box-shadow: 0px  6px  20px  0px ;

    
  }
  .main section{
    margin-top: 130px;
  }
  .resume-coloum-title{
    color: #474747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
 .button-four{
    width: 150px;
    height: 27px;
    background-color: #FD6E0A;
    color: aliceblue;
    border-radius: 2px;
    border: 0;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
 }

 .Download-cv{
    text-align: center;
    padding: 500px;
 }

 .footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
 }
 input{
    width: 461px;
height: 64px;
flex-shrink: 0;
 }
 .index{
    width: 461px;
    height: 64px;
    flex-shrink: 0;
    padding: 50px;
    margin-right: 100000px;
 }